################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/ecommerce2/FileContentIndex
/.vs/slnx.sqlite
